.users-page--user {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    
    img {
        border-radius: 50%;
        margin-right: 20px;
        width: 60px;
        height: 60px;
        align-self: flex-start;
    }

    button {
        align-self: flex-start;
        margin-left: auto;
        color: rgb(29, 161, 242);
        font-size: 18px;
        font-weight: 600;
        padding: 10px;
        border: 1px solid rgb(29, 161, 242);
        background-color: unset;

        &:hover {
            background-color: rgb(29, 161, 242, 0.1)
        }

        &:disabled {
            background-color: rgb(29, 161, 242, 0.4);
            color: white;
        }
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.03)
    }
}